<div class="py-4">
    <h2 class="text-center">Lista de todos los bugs</h2>

    <hr>

    <div id="generalBugTableDiv">
        <table class="table table-striped table-hover">
            <caption></caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Desarrollador</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each bugs}}
                    {{> bugGeneral individualBug=this}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    let date = new Date;
    let minutes;
    if (date.getMinutes() < 10){
        minutes = `0${date.getMinutes()}` 
    }
    else {
        minutes = date.getMinutes();
    }
    document.querySelector('caption').innerHTML = `Actualizado al ${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} a las ${date.getHours()}:${minutes}`;
</script>