{{> title}}

<div class="text-center">
    <button type="button" class="btn btn-dark my-1" id="createBugButton" onclick="createBugButton()">Crear bug</button>
    <button type="button" class="btn btn-dark my-1" id="createUserButton" onclick="createUserButton()">Crear usuario</button>
    <button type="button" class="btn btn-dark my-1" id="deleteUserButton" onclick="deleteUserButton()">Eliminar usuario</button>
</div>

{{!-- Crear bug --}}
<div class="w-50 mx-auto my-5">
    <form action="/bug" method="POST" id="createBug" class="d-none">
        <div class="mb-3">
            <label for="bugName" class="form-label">Nombre del Bug</label>
            <input type="text" id="bugName" name="bugName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="bugDescription" class="form-label">Descripción del Bug</label>
            <input type="text" id="bugDescription" name="bugDescription" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="bugUser" class="form-label">Desarrollador</label>
            <select name="bugUser" id="bugUser" class="form-select">
                {{#each usersGeneral}}
                    {{> userByUser individualUser=this}}
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Crear bug</button>
    </form>
</div>

{{!-- Crear usuario --}}
<div class="w-50 mx-auto my-5">
    <form action="/user" method="POST" id="createUser" class="d-none">
        <div class="mb-3">
            <label for="userName" class="form-label">Nombre de usuario</label>
            <input type="text" id="userName" name="userName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email</label>
            <input type="text" id="userEmail" name="userEmail" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">Contraseña</label>
            <input type="password" id="userPassword" name="userPassword" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="userRol" class="form-label">Rol</label>
            <select id="userRol" name="userRol" class="form-select">
                {{#each rols}}
                    {{> rol individualRol=this}}
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Crear usuario</button>
    </form>
</div>

{{!-- Eliminar usuario --}}
<div class="w-50 mx-auto my-5">
    <form action="/userDelete" method="POST" id="deleteUser" class="d-none">
        <div class="mb-3">
            <label for="deleteUserSelect" class="form-label">Usuario</label>
            <select name="deleteUserSelect" id="deleteUserSelect" class="form-select">
                {{#each usersGeneral}}
                    {{> userByUser individualUser=this}}
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Eliminar usuario</button>
    </form>
</div>

<script>
    let createBugForm = document.querySelector('#createBug');
    let createUserForm = document.querySelector('#createUser');
    let deleteUserForm = document.querySelector('#deleteUser');
    const createBugButton = () => {
        createBugForm.classList.add('d-block');
        createBugForm.classList.remove('d-none');
        createUserForm.classList.remove('d-block');
        createUserForm.classList.add('d-none');
        deleteUserForm.classList.remove('d-block');
        deleteUserForm.classList.add('d-none');
    };
    const createUserButton = () => {
        createUserForm.classList.add('d-block');
        createUserForm.classList.remove('d-none');
        createBugForm.classList.remove('d-block');
        createBugForm.classList.add('d-none');
        deleteUserForm.classList.remove('d-block');
        deleteUserForm.classList.add('d-none');
    };
    const deleteUserButton = () => {
        deleteUserForm.classList.add('d-block');
        deleteUserForm.classList.remove('d-none');
        createBugForm.classList.remove('d-block');
        createBugForm.classList.add('d-none');
        createUserForm.classList.remove('d-block');
        createUserForm.classList.add('d-none');
    };
</script>