{{> title}}

<h2>Token Invalido</h2>

<button class="btn btn-info mb-3 botonVolverAlInicio"><a href="/">Volver al Inicio</a></button>

<style>
    .botonVolverAlInicio a {
        color: #FFF;
    }
</style>