{{> title}}

<div class="py-5">
    <h2 class="text-center">Iniciar Sesión</h2>
    <hr>

    <div class="mx-auto text-center w-25 min-vw-25">
        <form action="/signin" method="POST">
            <div class="form-group">
                <div class="form-group mb-3">
                    <label for="loginEmail" class="form-label">Email</label>
                    <input type="email" name="email" id="loginEmail" class="form-control m-auto" required />
                </div>
                <div class="form-group mb-3">
                    <label for="loginPassword" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="loginPassword" class="form-control m-auto" required>
                </div>
            </div>
            <button class="btn btn-secondary my-3" type="submit">Ingresar</button>
        </form>
    </div>
</div>